<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary md-5 shadow-border">Download PDF Resume</button>
</div>

<div class="container text-center">

    <section class="education" id="education">
        <h1 class="heading"> Experience </h1>

        <div class="container">

            <div class="box">
                <div class="content">
                    <span> 2019 - 2022 </span>
                    <h5>Sri Lanka Telecom - PLC</h5>
                    <p>six month internship</p>
                </div>
            </div>

        </div>
        
    </section>

    <section class="education" id="education">
        <h1 class="heading"> Education </h1>

        <div class="container">

            <div class="box">
                <div class="content">
                    <span> 2019 - 2022 </span>
                    <h5>Higher National Diploma in Information Technology</h5>
                    <p>Advanced Technological Institute Galle</p>
                </div>
            </div>

            <div class="box">
                <div class="content">
                    <span> 2023 </span>
                    <h5>Front-End Development Certificate Course</h5>
                    <p>CODL - University of Moratuwa</p>
                </div>
            </div>

        

            <div class="box">
                    <div class="content">
                        <span> 2018 </span>
                        <h5>G.C.E Advanced Level</h5>
                        <p>Sujatha Vidyalaya Matara</p>
                    </div>
            </div>

            <div class="box">
                <div class="content">
                    <span> 2013 </span>
                    <h5>G.C.E Ordinery Level</h5>
                    <p>Sujatha Vidyalaya Matara</p>
                </div>
            </div>

            
        </div>
        
    </section>


</div>

     

